@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Varela+Round&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(239, 105, 228);
}
.box.active .content{
  display: flex;
  
}
.box{
  width: 290px;
  padding: 25px;
  border-radius: 15px;
  background: white;
}

.content, .key-code,.details{
  display: flex;
  align-items: center;
  justify-content: center;

}
.box .content{
  display: none;
  flex-direction: column;
}

.content .key-code{
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: 5px solid rgb(239, 105, 228);
}

.text,.key-code, .key-name{
  font-size: 45px;
  color: blue;
  font-weight: 500;
}
.text{
  font-size: 30px;
  text-align: center;
}

.content .details{
  width: 100%;
  margin-top: 15px;
  justify-content: space-evenly;
}

.details p{
  width: 100%;
 font-size: 18px;
 text-align: center;

}
.details p:last-child{
  border-right: 1px solid black;
}

